# Postgres
POSTGRES_PRISMA_URL=postgresql://postgres:${POSTGRES_PASSWORD}@db
POSTGRES_URL_NON_POOLING=postgresql://postgres:${POSTGRES_PASSWORD}@db

# Spliit 
SPLIIT_NEXT_PUBLIC_ENABLE_EXPENSE_DOCUMENTS=false
SPLIIT_S3_UPLOAD_KEY=AAAAAAAAAAAAAAAAAAAA
SPLIIT_S3_UPLOAD_SECRET=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
SPLIIT_S3_UPLOAD_BUCKET=spliit
SPLIIT_S3_UPLOAD_REGION=eu-north-1
SPLIIT_S3_UPLOAD_ENDPOINT=s3://minio.example.com

SPLIIT_NEXT_PUBLIC_ENABLE_RECEIPT_EXTRACT=false
SPLIIT_OPENAI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
SPLIIT_NEXT_PUBLIC_ENABLE_CATEGORY_EXTRACT=false

