# Postgres
POSTGRES_PRISMA_URL=postgresql://postgres:${POSTGRES_PASSWORD}@split
POSTGRES_URL_NON_POOLING=postgresql://postgres:${POSTGRES_PASSWORD}@split

# Spliit 
SPLIT_NEXT_PUBLIC_ENABLE_EXPENSE_DOCUMENTS=false
SPLIT_S3_UPLOAD_KEY=AAAAAAAAAAAAAAAAAAAA
SPLIT_S3_UPLOAD_SECRET=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
SPLIT_S3_UPLOAD_BUCKET=spliit
SPLIT_S3_UPLOAD_REGION=eu-north-1
SPLIT_S3_UPLOAD_ENDPOINT=s3://minio.example.com

SPLIT_NEXT_PUBLIC_ENABLE_RECEIPT_EXTRACT=false
SPLIT_OPENAI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXX
SPLIT_NEXT_PUBLIC_ENABLE_CATEGORY_EXTRACT=false

